@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 150px;
}

#connexion {
    padding: 90px;
}

#tableau {
    margin-bottom: 175px;
}

#sectioncommentaire {
    margin-bottom: 150px;
    padding: 70px;
    border-radius: 5px;

}

#commentaire {
    overflow-x: scroll;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#email {
    word-break: break-all;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene{
    
    background-image: url('../images/rhinocéros.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
}

.form-label{
    color: $primary;
}

.image-card{
    position:relative;
    &:hover {
        .titre-image, .action-image-buttons{
            opacity: 1;
        }

        img {
            filter: brightness(0.3);
        }
    }

    .titre-image{
        position : absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }

    .action-image-buttons{
        position : absolute;
        top: 0;
        width: 95%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.3s;
    }
}

.animal-card{
    border-color: black;
}

.bouton-article {
    margin-top: 5px;
}

#marais {
    margin-bottom: 150px;
    padding: 70px;
}