@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

main{
    margin-bottom: 150px;
}

#commentaire {
    margin-bottom: 15px;
    padding: 70px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p{
    font-family: $font-family-serif;
    font-size: 18px;
}

.hero-scene-content{
    
    background-image: url('../images/rhinocéros.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-bottom: 15px;
}
.hero-scene-content p h1{
    font-size: 1.5rem;
    text-align: center;
}

.form-label{
    color: $primary;
}

